streamlit==1.30.0
pandas==2.1.4
requests==2.31.0
tqdm==4.66.1
python-multipart
sentence-transformers==2.2.2
torch==2.1.0
faiss-cpu==1.7.4
pypdf==3.17.1
python-dotenv==1.0.0
Pillow==10.1.0
pdf2image==1.16.3
