streamlit==1.30.0
pandas
requests
tqdm
python-multipart
langchain>=0.2.0
langchain-community>=0.2.0
langchain-openai>=0.1.0
openai>=1.0.0
unstructured
pypdf
python-dotenv
aiohttp
aiofiles
Pillow
pdf2image
faiss-cpu
